#window {
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid 1px black;
	width: 1000px;
	height:700px;
}

#minigame4_water {
	position:absolute;
	top: 10%;
	left: 25%;
	height: 600px;
	width: 500px;
	background-color: #3385ff;
}

#minigame4_left_valves {
	position: absolute;
	top: 10%;
	left: 12%;
}

#minigame4_right_valves {
	position: absolute;
	top: 10%;
	right: 12%;
}

.minigame4_left_valve {
	height: 120px;
	margin-right: 90%;
	width: 120px;
	float:left;
}

.minigame4_right_valve {
	height: 120px;
	margin-left: 90%;
	width: 120px;
	float:right;
}

#minigame4_pipeline{
	position:absolute;
	top: 10%;
	left: 25%;
	height: 600px;
	width: 500px;
}

#minigame4_inspection, #minigame4_repair {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 80%;
	border: 5px solid black;
}

img {
	border: 1px solid black;
}
